*{
    margin: 0;
    padding: 0;
}

body{
    
    background: rgb(150, 141, 141);
    width: 100%;
    height: 100vh;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
h1{
    color: rgb(4, 4, 4);
    font-size: 45px;
    justify-content: center;
}


ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: rgb(6, 5, 5);
    text-decoration: none;
}

a:hover{
    color: white;
}

#index-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-content{
    width: 50vh;
    height: 100vh;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Ajusta la distancia desde el nav */
}

#message-error {
    display: flex;
    flex-direction: column;
    color: rgb(85, 8, 8);
    font-weight: bold;
    align-items: center;
}

#bienvenido-ppal {
    display: flex;
    flex-direction: column;
    color: rgb(10, 10, 10);
    font-weight: bold;
    align-items: left;
}



.navigation-pricipal {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navigation-princi {
    font-weight: bold;
    background-color: rgb(64, 145, 243);
}
  
.card-header {
    display: inline-block;
    background-color: rgb(64, 145, 243);
    font-weight: bold;
    padding: 15px;
    
  }
  
.tabla-centrada {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado-personal th {
    padding: 10px 20px;
    margin: 0 15px;
    border: 1px solid #ccc;
}


#registrar-personal-header {
    background-color: rgb(64, 145, 243);
}

#form-registro-personal input {
    background-color: rgb(219, 212, 212);
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Ajusta la distancia desde el nav */
}

