{% extends 'base.html' %}

{% block content %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" id="message-error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}


        {% if 'usuario' in session %}
            {% set usuario = session['nombre'] %}
        {% endif %}

        <h2 id="bienvenido-ppal">Hola {{ usuario }} bienvenido a la administración principal de Lacteos San Luis</h2>



            <table class="variables">
                <thead>
                    <tr>
                        <th>Iva</th>
                        <th>Igtf</th>
                        <th>Dolar paralelo</th>
                        <th>Dolar oficial</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>

       




{% endblock %}