{% extends 'base.html' %}

{% block content %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" id="message-error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}


        {% if 'usuario' in session %}
            {% set usuario = session['nombre'] %}
        {% endif %}

        {% if 'iva' in context %}
            {% set iva = context['iva'] %}
            {% set igtf = context['igtf'] %}
            {% set dolar = context['dolar'] %}
            {% set igtf_especial = context['igtf_especial'] %}
        {% endif %}

        <p id="bienvenido-ppal">Hola {{ usuario }} bienvenido a la administración principal de Lacteos San Luis</p>

        <div class="navigation-pricipal">
            <nav class="navigation-princi">
                <ul>
                <li><a>Facturación</a></li>
                <li><a href="{{ url_for('inventario') }}">Inventarios</a></li>
                <li><a>Configuración</a></li>
                <li><a href="{{ url_for('control_personal') }}">Control de Personal</a></li>
                </ul>
            </nav>
        </div>

        <br>
        <br>
        <div class="card-header">IVA: {{ iva }} %</div>
        <br>
        <br>
        <div class="card-header">IGTF: {{ igtf_especial }} %</div>
        <br>
        <br>
        <div class="card-header">Retención: {{ igtf }} %</div>
        <br>
        <br>
        <div class="card-header">$ USD: {{ dolar }} Bs</div>
        

{% endblock %}