{% extends 'base.html' %}


{% block content %}
<div class="register-container">  
    <h1>Crear cuenta de administrador</h1>
    <form action="/register" method="post">

        <input type="text" name="name" placeholder="Nombre">
        <br>
        <br>
        <input type="text" name="lastname" placeholder="Apellido">
        <br>
        <br>
        <input type="number" name="dni" placeholder="Cédula">
        <br>
        <br>
        <input type="number" name="phone" placeholder="Número de telefono">
        <br>
        <br>
        <input type="text" name="username" placeholder="Nombre de usuario">
        <br>
        <br>
        <input type="email" name="email" placeholder="correo electronico">
        <br>
        <br>
        <input type="password" name="password" placeholder="Contraseña">
        <br>
        <br>
        <input type="password" name="clave" placeholder="Clave de activacíon"> 
        <br>
        <br>
        <input type="submit" value="Registro"> 
        <input type="reset" value="Limpiar">
        <br>
        <br>
    
    </form>
    ...
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger" id="message-error">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
</div>

{% endblock %}

